<% @movies.each_slice(3) do |movies| %>
  <div class="row">
  <% movies.each do |movie| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= movie['poster_url'] %>">
      <div class="caption center">
        <h2><%= movie['title'] %></h2>
        <span class="glyphicon glyphicon-star"></span> <b><%= movie['rating'] %> no IMDB</b>
        <span class="middle-dot"> · </span>
        <span class="glyphicon glyphicon-map-marker"></span> <b><%= pluralize movie['theater_count'], "cinema" %> </b>
        <span class="description">“<%= movie['plot_outline'] || movie['pt_br_plot_outline'] %>”</span>
        <p><a href=<%= movie['ticket_url'] %> class="btn btn-primary btn-lg" role="button">Comprar Ingresso</a></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
